body {
    overflow-y: scroll;
}

.cp {
    margin-bottom: 20px;
}

.templates {
    display: none;
}

.highlighted-row th, .highlighted-row td {
    border-bottom: 1px solid black;
}
table {}
thead th {
    border-bottom: 1px solid black;
}

td .label, th .label {
    float: right;
    margin-right: 5px;
}
 
td input, td select {
    margin-bottom: 0px;
}
 
#container {
    max-width: 950px;   
    margin: 20px auto;
}

.input-normal {
    width: 150px;
}
.input-medium {
    width: 110px;
}

a:active { outline: none; -moz-outline-style: none; }
a:focus  { outline: none; -moz-outline-style: none; }