 .templates {
    display: none;
 }

 .highlighted-row th, .highlighted-row td {
    border-bottom: 1px solid black;
 }
 table {
    width: 780px;
 }
 thead th {
    border-bottom: 1px solid black;
 }

 td .label, th .label {
    float: right;
    margin-right: 5px;
 }
 
 td input, td select {
    margin-bottom: 0px;
 }
 